*{
    box-sizing: border-box
}

:root {
    ---primary-textcolor: rgb(29, 29, 233);
    ---secondary-textcolor: rgb(249, 250, 252);
    ---buttoncolor: blue;
    ---primaryborder: darkblue;
}

body{
    color: var(---primary-textcolor);
}

header {
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    height: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:25px;
    margin: 20px;
    width:fit-content;
    font-size: 12px;
    font-weight:bold;
}

header div p{
    border-color: 3px, solid, white;
}

.landing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.landing h1 {
    font-size:35px;
}

.landing div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom:10px;
    font-size: 20px;
}

.go-Button{
    width: fit-content;
    height: fit-content;
    font-size: 36px;
    font-weight: bold;
    background-color: var(---buttoncolor);
    color: var(---secondary-textcolor);
    border: 3px, solid var(---primaryborder);
    border-radius: 10%;
}

.question{
    color:black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size:30px;
}

.questionActual {
    align-items: left;
    width:75%;
}
.choiceA, .choiceB, .choiceC, .choiceD{
    width: fit-content;
    height: fit-content;
    background-color: var(---buttoncolor);
    color: var(---secondary-textcolor);
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    font-size: 22px;
    border: 3px, solid, var(---primaryborder);
    border-radius: 10%;
}